# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Environment
venv/

# Files and folders to ignore for sensitive data
*.log
*.ini
*.db
**credentials/
*docs/
*.yaml
config.json

# Local VsCode settings
.vscode/

# Other folder with lots of files
*downloaded/
*parsed/

# Unit testing
.pytest_cache/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.exe

